* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  /* background: url(./assets/Purple-Lens-Flare-PNG.png) no-repeat 240px left; */
  font-family: sans-serif;
  background-color: #150e28;
}
hr {
  margin: 0px;
  color: white;
  height: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  /* border: 0.5rem thin white; */
}
a {
  text-decoration: none;
}
.navbar {
  font-family: "Monteserrat", sans-serif;
  display: flex;
  width: 719px;
  font-size: 16px;
  justify-content: space-between;
  align-items: baseline;
}
.navbar a:hover {
  color: #d434fe;
}
.navbar a {
  color: #fff;
}
.headerContainer h1 span {
  color: #d434fe;
}

.headerContainer h1 {
  font-family: "Clash Display", sans-serif;
  color: white;
  font-size: 36px;
  margin: 0;
  line-height: 44.28px;
}
h2 {
  margin: 0;
}
.register-btn,
.readmore-btn,
button {
  font-size: 16px;
  width: 172px;
  height: 53px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Monteserrat", sans-serif;
  /* padding: 15px 20px; */
  background-image: linear-gradient(to right, #d434fe, #903aff);
  color: white;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 67px 128px 20px 128px;
}
#main > h2 {
  text-align: right;
  font-family: "Monteserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}
#main article p {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
#main .register-btn {
  margin-top: 50px;
}
#main article {
  margin-top: 100px;
  width: 700px;
}
#main article h2 > span {
  color: #d434fe;
}
#main article h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 80px;
  /* margin-top: 50px; */
}
section {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#main .smart_glasses_image {
  position: absolute;
  z-index: -10;
  /* left: 600px; */
  bottom: 0px;
  right: 0px;
  /* top: 50px; */
  width: 700px;
}
section {
  color: #fff;
  position: relative;
  padding: 20px 128px;
}
.timer span {
  font-family: "Unica One", cursive;
  font-size: 64px;
  line-height: 85px;
}
.timer {
  font-size: 14px;
  font-family: "Monteserrat", sans-serif;
  line-height: 18px;
  margin-top: 70px;
}

.intro {
  column-gap: 50px;

  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 550px 550px;
}
.colored-one {
  color: #d434fe;
}
.intro h2 {
  font-size: 32px;
  font-family: "Clash Display", sans-serif;
}
.intro p {
  line-height: 27px;
  font-size: 14px;
  padding: 5px;
  font-family: "Monteserrat", sans-serif;
}
.intro article {
  margin-top: 150px;
}
.flare {
  z-index: -20;
  position: absolute;
}
.rules {
  column-gap: 50px;

  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 550px 550px;
}
.rules h2 {
  font-size: 32px;
  font-family: "Clash Display", sans-serif;
}
.rules p {
  line-height: 27px;
  font-size: 14px;
  padding: 5px;
  font-family: "Monteserrat", sans-serif;
}
.rules article {
  margin-top: 150px;
}
.judging_criteria > img {
  position: relative;
  right: 100px;
  margin-top: 100px;
}
.judging_criteria {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 550px 550px;
  column-gap: 50px;
}
.judging_criteria h2 {
  font-size: 32px;
  font-family: "Clash Display", sans-serif;
}
.judging_criteria p span {
  color: #ff26b9;
}
.judging_criteria p {
  line-height: 27px;
  font-size: 14px;
  padding: 5px;
  font-family: "Monteserrat", sans-serif;
}
.FAQs-image {
  position: relative;
  right: 90px;
}
.FAQs .content p {
  font-size: 14px;
  list-style-position: inside;
  line-height: 27px;
  margin-left: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #d434fe solid;
}
.FAQs {
  margin-top: 200px;
  margin-bottom: 50px;
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 420px 550px;
  column-gap: 150px;
}
.FAQs h2 {
  font-size: 32px;
  font-family: "Clash Display", sans-serif;
}
.FAQs p span {
  color: #ff26b9;
}
.FAQs p {
  line-height: 27px;
  font-size: 14px;
  padding: 5px;
  font-family: "Monteserrat", sans-serif;
}

.timeline > article {
  display: grid;
  column-gap: 40px;
  align-content: end;
  grid-template-columns: 390px 50px 390px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px;
}
.timeline {
  display: grid;
  /* grid-template-columns: 100%; */
  justify-content: center;
}
.timeline h2,
.timeline h3 {
  color: #d434fe;
  /* margin: 50px; */
}
.timeline .num {
  background-image: linear-gradient(to right, #d434fe, #903aff);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monteserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.timeline .left-side {
  text-align: right;
}
.timeline .right-side {
  text-align: left;
}

.prizes > div {
  display: flex;
  margin: 100px 0px 100px 0px;
}
.prizes article {
  margin-top: 100px;
  margin-left: 45vw;
}
.prizes h2 {
  font: "Clash Display", sans-serif;
  weight: 700;
  font-size: 32px;
  line-height: 39.36px;
}
.prizes {
  background: url(./assets/premium_photo-1664443577580-dd2674e9d359\ 1.png);
  background-size: 1512px 950px;
}
.partners p {
  line-height: 27px;
  font-size: 14px;
  padding: 5px;
  font-family: "Monteserrat", sans-serif;
}
.partners h2 {
  font-size: 32;
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}
.partners {
  margin-bottom: 100px;
  text-align: center;
}
.policies > article li,
.policies > article p {
  line-height: 27px;
  font-size: 14px;
  padding: 5px;
  font-family: "Monteserrat", sans-serif;
}
.policies > article > div h2 {
  font-size: 16px;
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}
.policies > article > div {
  width: 570px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 4px;
  border: 1px solid #d434fe;
}
.policies > article > h2 {
  font-size: 32px;
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}
.policies .policies-img {
  margin-left: 50px;
  margin-top: 150px;
}
.policies {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 550px 550px;
}
/*--- 
contact page  
---*/
.contactMain form button {
  font-size: 16px;
  width: 172px;
  height: 53px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Monteserrat", sans-serif;
  /* padding: 15px 20px; */
  background-image: linear-gradient(to right, #d434fe, #903aff);
  color: white;
  margin-top: 50px;
}

.contactMain form h2 {
  font-size: 20px;
  line-height: 25px;
}
.contactMain form {
  /* height: 610px; */
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 4px;
  padding: 50px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
.contactMain form input {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-family: "Monteserrat", sans-serif;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 40px;
  border-radius: 4px;
  /* margin-bottom: 50px; */
}
.contactMain form textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  font-family: "Monteserrat", sans-serif;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 4px;
  width: 40;
  height: 100;
  padding: 20px;
}
::placeholder {
  color: white;
  text-transform: capitalize;
}
.contactMain h2 {
  font-size: 32px;
  color: #d434fe;
  font-family: "Clash Display", sans-serif;
}
.contactMain p {
  line-height: 20px;
  font-size: 16px;
  padding: 5px;
  color: #fff;
  font-family: "Monteserrat", sans-serif;
}

.contactMain .colored-one {
  color: #d434fe;
}
.contactMain > div img {
  cursor: pointer;
}
.contactMain > div {
  margin-top: 100px;
}
.contactMain {
  display: grid;
  /* align-content: baseline; */
  margin: 50px 150px;
  grid-template-columns: 550px 620px;
}
.active {
  color: linear-gradient(to right, #d434fe, #903aff);
}

/* register page */

.register-main .form-container {
  display: grid;
  column-gap: 20px;
  /* margin: 50px 150px; */
  grid-template-columns: 40% 40%;
}
.register-main form label {
  margin-top: 30px;
}
.register-main form input {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-family: "Monteserrat", sans-serif;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 5px;
  border-radius: 4px;
}
.register-main form {
  color: white;
}
.register-main form > h2 {
  color: #d434fe;
}
.register-main {
  display: grid;
  grid-template-columns: 40% 60%;
  /* justify-content: space-between; */
  column-gap: 50px;
  margin: 50px 50px;
}
